* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #020a18;
  color: #fff;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

.header {
  background-color: #051022;
}

.header-item {
  margin-left: 20px;
  padding: 15px 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 2fr);
}

.header-logo {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

.header__img__logotip {
  margin-right: 15px;
}
.header__photo {
  max-width: 100%;
}
.header-nav {
  display: flex;
  grid-column: 3/6;
}
.header__link {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  transition: all 0.2s linear;
}
.header__link:hover {
  background-color: #1155ca;
  box-shadow: 0px 2px 25px #005eff;
}
.header-btn {
  grid-column: 6/7;
  text-align: center;
}
.header__button {
  background-color: #3a68b8;
  padding: 15px 30px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s linear;
}
.hover:hover {
  background-color: #1155ca;
  box-shadow: 0px 2px 25px #005eff;
}

/* SYBER */
.syber-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}
.syber-mein-text {
  font-size: 18px;
  color: #005eff;
  font-weight: 600;
}
.syber-title {
  font-size: 55px;
  font-weight: 800;
  max-width: 700px;
  margin-top: 10px;
}
.syber-text {
  font-size: 18px;
  max-width: 650px;
  line-height: 29px;
  opacity: 0.7;
  margin-top: 40px;
}

.syber-btn {
  display: flex;
  margin-top: 40px;
}
.syber-buttons {
  padding: 10px 20px;
  background-color: #3a68b8;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  margin: 0px 10px 0px 0px;
  border-radius: 5px;
  transition: all 0.1s linear;
}
.btn_2 {
  position: relative;
}
.btn_2 img {
  position: absolute;
  top: -1px;
  left: 20px;
  z-index: 1;
}
.syber-buttons-2 {
  padding-left: 50px;
}

.syber-columns {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.syber-col img {
  max-width: 100%;
  padding: 0 10px;
}
/* ABOUT */

.about {
  margin-top: 200px;
}
.about-item {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 20fr);
}
.about-title {
  font-size: 40px;
  font-weight: 700;
}
.about-text {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.6;
  max-width: 460px;
  margin-top: 30px;
}
.about-btn {
  margin-top: 50px;
}
.about-link {
  padding: 15px 30px;
  background-color: #3a68b8;
  color: #fff;
  border-radius: 5px;
  transition: all 0.1s linear;
  text-decoration: none;
}
.about__photo {
  max-width: 100%;
}
/* SERVICES */
.services {
  margin-top: 170px;
}
.services-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services-col {
  background-color: rgba(153, 153, 153, 0.1);
  text-align: center;
  margin: 0 5px;
  display: grid;
  justify-content: center;
  padding: 10px;
  width: 19%;
}
.services-title {
  font-size: 25px;
  max-width: 302px;
  width: 100%;
  line-height: 31px;
  margin: 30px auto;
}
.services-img {
  grid-row: 1;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-img img {
  max-width: 100%;
}
.services-text {
  opacity: 0.7;
  font-weight: 500;
  max-width: 80%;
  margin: auto;
  line-height: 25px;
}
.active-bg {
  position: relative;
}

/* BLOG */

.blog {
  margin-top: 170px;
}
.blog-item {
  display: grid;
  grid-template-columns: 7fr 10fr;
}
.blog-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  max-width: 548px;
}
.blog-p-1 {
  margin-top: 40px;
  font-size: 16px;
  line-height: 25px;
  opacity: 0.7;
  max-width: 460px;
}
.blog-p-2 {
  margin-top: 20px;
  font-size: 16px;
  line-height: 25px;
  opacity: 0.7;
  max-width: 460px;
}
.blog-p-3 {
  margin-top: 40px;
  font-size: 16px;
  line-height: 25px;
  opacity: 0.7;
  max-width: 460px;
}
.blog-p-4 {
  margin-top: 40px;
  font-size: 16px;
  line-height: 25px;
  opacity: 0.7;
  max-width: 460px;
}
.blog-img img {
  max-width: 100%;
}
/* FOOTER  */

.footer {
  margin-top: 170px;
  background-color: #051022;
}
.footer-item {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(5, 5fr);
}
.footer-img {
  padding-top: 60px;
}
.footer-title {
  padding-top: 90px;
  padding-bottom: 30px;
}
.footer-text {
  font-size: 14px;
  line-height: 18px;
  max-width: 261px;
  margin-top: 10px;
  opacity: 0.4;
}
.footer-email {
  text-decoration: none;
  font-size: 14px;
  margin-top: 37px;
}

.footer-phone,
.footer-address {
  margin-top: 20px;
  transition: all 0.1s linear;
}
.footer-address a:hover {
  color: #005eff;
}
.footer-email a:hover {
  color: #005eff;
}
.footer-phone a:hover {
  color: #005eff;
}
.footer-link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.footer-column ul li {
  list-style: none;
  margin: 15px 0;
}
.footer-column ul li a {
  opacity: 0.4;
  transition: all 0.1s linear;
  padding: 10px 0;
}
.footer-column ul li a:hover {
  opacity: 1;
  color: #005eff;
}
.footer-login {
  margin-top: 30px;
}
.footer-item-icons {
  margin-top: 20px;
}
.footer-item-icons i {
  font-size: 18px;
  padding: 0 5px;
  opacity: 0.4;
  transition: all 0.1s linear;
}
.footer-item-icons i:hover {
  opacity: 1;
}
.footer-select {
  margin-top: 50px;
}
